@tailwind base;
@tailwind components;
@tailwind utilities;

p {
    font-family: 'Nunito', sans-serif;
    /* font-size: 30px; */
    font-weight: 800;
    color: white;
    text-shadow: 0 0 12px rgba(0,0,0,.25);
}

#heartImg {
    text-shadow: 0 0 12px rgba(0,0,0,.25);
}

.shortCol {
    width: 30%;
}

.longCol {
    width: 70%;
}

#evoCont {
    margin-top: 1.25rem;
    /* padding-bottom: 5rem; */
    max-height: 290px;
    overflow-y: scroll;
}

#pokImg,
.evoImg {
    transition: transform .1s;
}

#pokImg:hover,
.evoImg:hover {
    transform: scale(1.05);
}

.evoCol {
    width: 28%;
}

.evoImg {
    width: 80%;
}

.ph-arrow-right-bold {
    color: white;
    font-size: 22px;
    text-shadow: 0 0 12px rgba(0,0,0,.25);
}

@media (max-width: 1024px) {
    #evoCont {
        padding-bottom: 3rem;
        max-height: none;
    }
}

@media (max-width: 640px) {
    
    #btnCont {
        justify-content: space-between;
    }

    #searchBar {
        width: 70%;
    }

    #searchBtn {
        width: 25%;
        margin-left: 0;
        margin-right: 0;
    }

    #randBtn {
        width: 47.5%;
        margin-top: 25px;
        margin-left: 0;
        margin-right: 0;
    }

    #favBtn {
        width: 47.5%;
        margin-top: 25px;
        margin-left: 0;
        margin-right: 0;
    }

    .text-8xl {
        font-size: 4rem;
    }
}

@media (max-width: 425px) {

    .text-xl {
        font-size: 16px;
    }

    .text-2xl {
        font-size: 16px;
    }

    .text-3xl {
        font-size: 24px;
    }

    .text-4xl {
        font-size: 16px;
    }

    .text-5xl {
        font-size: 30px;
    }

    .text-8xl {
        font-size: 45px;
    }

    #flavTxt {
        font-size: 16px;
    }

    #infoTitle {
        margin-top: 10px;
    }

    .btn {
        font-size: 12px;
    }
}

@media (hover: none) {
    #pokImg:hover,
    .evoImg:hover {
        transform: none;
    }

    #searchBtn:hover {
        --tw-bg-opacity: 1;
        background-color: rgb(59 130 246 / var(--tw-bg-opacity));
    }

    #randBtn:hover {
        --tw-bg-opacity: 1;
        background-color: rgb(234 179 8 / var(--tw-bg-opacity));
    }

    #favBtn:hover {
        --tw-bg-opacity: 1;
        background-color: rgb(239 68 68 / var(--tw-bg-opacity));
    }
}