@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgb(140, 199, 172);
    transition: background-color 1s ease;
}

p {
    font-family: 'Nunito', sans-serif;
    /* font-size: 30px; */
    font-weight: 800;
    color: white;
    text-shadow: 0 0 12px rgba(0,0,0,.25);
}

#heartImg {
    text-shadow: 0 0 12px rgba(0,0,0,.25);
}

#searchBar {
    /* height: 40px; */
    height: 100%;
    width: 225px;
}

.shortCol {
    width: 30%;
}

.longCol {
    width: 70%;
}

#evoCont {
    /* margin-top: 1.25rem; */
    /* padding-bottom: 5rem; */
    max-height: 320px;
    /* overflow-y: auto; */
}

#pokImg,
.evoImg,
.favPokBox {
    transition: transform .1s;
}

#pokImg:hover,
.evoImg:hover,
.favPokBox:hover {
    transform: scale(1.05);
    cursor: pointer;
}

#heartImg:hover {
    cursor: pointer;
    animation: beat 1s infinite;
}

@keyframes beat{
    30% {
        transform: scale(1.1);
    }
}

.evoCol {
    width: 28%;
}

.evoImg {
    /* width: 80%; */
    height: 70px;
}

.evoBranch {
    margin: 20px;
}

.ph-arrow-right-bold {
    color: white;
    /* font-size: 22px; */
    text-shadow: 0 0 12px rgba(0,0,0,.25);
}

.evoArr {
    font-size: 22px;
}

.favPokBox {
    width: 90%;
    height: 75px;
    border-radius: 10px;
    background-color: rgb(140, 199, 172);
    margin-top: 25px;
}

.favPokImg {
    height: 90%;
    margin-left: auto;
    padding-right: 10px;
}

.favPokNum {
    font-size: 14px;
    padding-left: 15px;
    padding-bottom: 8px;
}

.favPokName {
    font-size: 21px;
    padding-left: 5px;
    padding-bottom: 4px;
}

.typeIconCont {
    width: 110px;
    background-color: #63bd5b;
    border-radius: 15px;
    margin-right: 10px;
    box-shadow: 1px 1px 3px rgba(0,0,0,.25);
}

.purple {
    background-color: #ab6ac8;
}

.typeImg {
    padding-left: 5px;
    height: 29px;
    text-shadow: 0 0 12px rgba(0,0,0,.25);
}

.autocomplete-wrapper {
    display: inline-block;
    position: relative;
}

.autocomplete-list {
    position: absolute;
    width: 100%;
    max-height: 228px;
    overflow-y: auto;
}

.autocomplete-list li {
    background-color: rgba(255, 255, 255, 0.95);
    border: 1px solid rgb(206, 206, 206);;
    border-top: unset;
}

.autocomplete-list li:hover {
    background-color: rgb(206, 206, 206, .95);
}

.autocomplete-list button {
    border: unset;
    background: unset;
    display: block;
    width: 100%;
    text-align: left;
    padding: 0.5em;
}

@media (max-width: 1023px) {
    #evoCont {
        padding-bottom: 3rem;
        max-height: none;
    }
}

@media (max-width: 767px) {
    #btnCont {
        justify-content: space-between;
    }

    #autoWrap {
        width: 70%;
        /* height: 34px; */
    }

    #searchBar {
        /* width: 70%; */
        width: 100%;
        /* height: 34px; */
    }

    #searchBtn {
        width: 25%;
        margin-left: 0;
        margin-right: 0;
    }

    #randBtn {
        width: 47.5%;
        margin-top: 15px;
        margin-left: 0;
        margin-right: 0;
    }

    #favBtn {
        width: 47.5%;
        margin-top: 15px;
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 640px) {

    .typeIconCont {
        margin-top: 2px;
        width: 83px;
        height: 25px;
    }

    .typeTxt {
        font-size: 12px;
    }

    .typeImg {
        height: 20px;
    }
    
    /* #btnCont {
        justify-content: space-between;
    }

    #autoWrap {
        width: 70%;
    }

    #searchBar {
        width: 100%;
    }

    #searchBtn {
        width: 25%;
        margin-left: 0;
        margin-right: 0;
    }

    #randBtn {
        width: 47.5%;
        margin-top: 15px;
        margin-left: 0;
        margin-right: 0;
    }

    #favBtn {
        width: 47.5%;
        margin-top: 15px;
        margin-left: 0;
        margin-right: 0;
    } */

    .text-8xl {
        font-size: 4rem;
    }

    .evoCol {
        font-size: 13px;
    }

}

@media (max-width: 425px) {

    #searchBar {
        /* width: 70%; */
        /* width: 100%; */
        /* height: 34px; */
    }

    .text-xl {
        font-size: 16px;
    }

    .text-2xl {
        font-size: 16px;
    }

    .text-3xl {
        font-size: 24px;
    }

    .text-4xl {
        font-size: 16px;
    }

    .text-5xl {
        font-size: 30px;
    }

    .text-8xl {
        font-size: 45px;
    }

    #flavTxt {
        font-size: 16px;
    }

    #infoTitle {
        margin-top: 10px;
    }

    .btn {
        font-size: 12px;
    }

    .evoImg {
        height: 42px;
    }
}

@media (hover: none) {
    #pokImg:hover,
    #heartImg:hover,
    .evoImg:hover,
    .favPokBox:hover {
        transform: none;
    }

    #searchBtn:hover {
        --tw-bg-opacity: 1;
        background-color: rgb(59 130 246 / var(--tw-bg-opacity));
    }

    #randBtn:hover {
        --tw-bg-opacity: 1;
        background-color: rgb(234 179 8 / var(--tw-bg-opacity));
    }

    #favBtn:hover {
        --tw-bg-opacity: 1;
        background-color: rgb(239 68 68 / var(--tw-bg-opacity));
    }
}